<h1 class="section-title">
  <span>My Work</span>
</h1>

<div class="row">
  <div class="three columns">Two</div>
  <div class="three columns">Ten</div>
</div>

<div class="row">
  <div class="three columns">
  
  </div>
  <div class="three columns">
  
  </div>
  <div class="three columns">
  
  </div>
</div>

<div class="row">
  <div class="three columns">
  
  </div>
  <div class="three columns">
  
  </div>
  <div class="three columns">
  
  </div>
</div>
