<h1 class="section-title">
  <span>Experience</span>
</h1>

<section id="cd-timeline" class="cd-container">

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie">
    </div>
    <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h3 class="no-margin-top">Marketing &amp; Media</h3>
      <p class="no-margin">at Red Idea Partners</p>
      <span class="cd-date">May 2017 — October 2018</span>
    </div>
    <!-- cd-timeline-content -->
  </div>
  <!-- cd-timeline-block -->
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie">
    </div>
    <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h3 class="no-margin-top">Senior Video Editor</h3>
      <p class="no-margin">at VideoMagic Productions / Highway Media Inc.</p>
      <span class="cd-date">June 2014 — June 2016</span>
    </div>
    <!-- cd-timeline-content -->
  </div>
  <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie">
    </div>
    <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h3 class="no-margin-top">Media Producer</h3>
      <p class="no-margin">at Luxottica Retail North America</p>
      <span class="cd-date">October 2013 — April 2014</span>
    </div>
    <!-- cd-timeline-content -->
  </div>
  <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie">
    </div>
    <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h3 class="no-margin-top">Freelance Video Editor</h3>
      <p class="no-margin">in Dayton/Cincinnati, OH</p>
      <span class="cd-date">August 2012 — October 2013</span>
    </div>
    <!-- cd-timeline-content -->
  </div>
  <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie">
    </div>
    <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h3 class="no-margin-top">Production Assistant</h3>
      <p class="no-margin">at Media Production Group</p>
      <span class="cd-date">April 2011 — August 2012</span>
    </div>
    <!-- cd-timeline-content -->
  </div>
  <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-grad">
      <i class="fa fa-fw fa-graduation-cap"></i>
    </div>
    <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h3 class="no-margin-top">Graduated from the University of Dayton</h3>
      <p class="no-margin">BA in Communication (Electronic Media) and French</p>
      <p class="no-margin">Minors in Film Studies and Psychology</p>
      <span class="cd-date">May, 2012</span>
    </div>
    <!-- cd-timeline-content -->
  </div>
  <!-- cd-timeline-block -->
</section>
<!-- cd-timeline -->

<div class="text-center" style="margin-top: 15px;">
  <a class="button button button-orange ghost-button resume-button" href="assets/kiersten_lillis_resume_2018.pdf"
    download target="_blank">
    Download Resume
  </a>
</div>