<h1 class="section-title">
  <span>
    My Work
  </span>
</h1>
<div class="row row-padding">
  <div class="item animation-test col-sm-4">
    <a href="https://www.youtube.com/watch?v=Qjw0R3BLV9I" class="popup-video" data-path-hover="m 180,84.57627 -180,0 L 0,0 180,0 z"
      title="2016 Video Editing Demo Reel">
      <figure>
        <img src="images/demo-reel.jpg" alt="2016 Video Editing Demo Reel" />
        <svg viewBox="0 0 180 320" preserveAspectRatio="none">
          <path d="M 180,130 0,188 0,0 180,0 z" />
        </svg>
        <figcaption>
          <h3>
            2016 Video Editing Demo Reel
          </h3>
          <button class="play-button" tabIndex="-1">
            <span class="fa fa-play-circle-o">
            </span>
          </button>
        </figcaption>
      </figure>
    </a>
  </div>
  <div class="item animation-test col-sm-4">
    <a href="https://vimeo.com/131248602" class="popup-video" data-path-hover="m 180,84.57627 -180,0 L 0,0 180,0 z" title="Plymouth Rocks City Promo">
      <figure>
        <img src="images/plymouth-rocks-city-promo.jpg" alt="Plymouth Rocks City Promo" />
        <svg viewBox="0 0 180 320" preserveAspectRatio="none">
          <path d="M 180,130 0,188 0,0 180,0 z" />
        </svg>
        <figcaption>
          <h3>
            Plymouth Rocks! City Promo
          </h3>
          <button class="play-button" tabIndex="-1">
            <span class="fa fa-play-circle-o">
            </span>
          </button>
        </figcaption>
      </figure>
    </a>
  </div>
  <div class="item animation-test col-sm-4">
    <a href="https://vimeo.com/146434988" class="popup-video" data-path-hover="m 180,84.57627 -180,0 L 0,0 180,0 z" title="Manresa Jesuit Retreat House Promo">
      <figure>
        <img src="images/manresa.jpg" alt="Manresa Jesuit Retreat House Promo" />
        <svg viewBox="0 0 180 320" preserveAspectRatio="none">
          <path d="M 180,130 0,188 0,0 180,0 z" />
        </svg>
        <figcaption>
          <h3>
            Manresa Jesuit Retreat House Promo
          </h3>
          <button class="play-button" tabIndex="-1">
            <span class="fa fa-play-circle-o">
            </span>
          </button>
        </figcaption>
      </figure>
    </a>
  </div>
</div>
<div class="row">
  <div class="item animation-test col-sm-4">
    <a href="https://vimeo.com/107260159" class="popup-video" data-path-hover="m 180,84.57627 -180,0 L 0,0 180,0 z" title="St. Catherine of Siena Academy">
      <figure>
        <img src="images/st-catherine-of-siena-academy.jpg" alt="St. Catherine of Siena Academy" />
        <svg viewBox="0 0 180 320" preserveAspectRatio="none">
          <path d="M 180,130 0,188 0,0 180,0 z" />
        </svg>
        <figcaption>
          <h3>
            St. Catherine of Siena Academy
          </h3>
          <button class="play-button" tabIndex="-1">
            <span class="fa fa-play-circle-o">
            </span>
          </button>
        </figcaption>
      </figure>
    </a>
  </div>
  <div class="item animation-test col-sm-4">
    <a href="https://www.youtube.com/watch?v=1LEGiCI6bfk" class="popup-video" data-path-hover="m 180,84.57627 -180,0 L 0,0 180,0 z"
      title="Tiffany &amp; Zac's Wedding Film">
      <figure>
        <img src="images/roemer-wedding.jpg" alt="Tiffany &amp; Zac's Wedding Film" />
        <svg viewBox="0 0 180 320" preserveAspectRatio="none">
          <path d="M 180,130 0,188 0,0 180,0 z" />
        </svg>
        <figcaption>
          <h3>
            Tiffany &amp; Zac's Wedding Film
          </h3>
          <button class="play-button" tabIndex="-1">
            <span class="fa fa-play-circle-o">
            </span>
          </button>
        </figcaption>
      </figure>
    </a>
  </div>
  <div class="item animation-test col-sm-4">
    <a href="https://vimeo.com/140332188" class="popup-video" data-path-hover="m 180,84.57627 -180,0 L 0,0 180,0 z" title="Stephanie &amp; Kyle's Wedding Film">
      <figure>
        <img src="images/stephanie-and-kyle.jpg" alt="Stephanie &amp; Kyle's Wedding Film" />
        <svg viewBox="0 0 180 320" preserveAspectRatio="none">
          <path d="M 180,130 0,188 0,0 180,0 z" />
        </svg>
        <figcaption>
          <h3>
            Stephanie &amp; Kyle's Wedding Film
          </h3>
          <button class="play-button" tabIndex="-1">
            <span class="fa fa-play-circle-o">
            </span>
          </button>
        </figcaption>
      </figure>
    </a>
  </div>
</div>