<h1 class="section-title">
  <span>My Work</span>
</h1>

<div class="row row-padding">
  <div class="item col-sm-4">
    <a class="item-image popup-video" href="https://vimeo.com/107260159" title="St. Catherine of Siena Academy">
      <div class="frame-overlay"></div>
      <div class="portfolio-meta">
        <!-- <img src="images/image_post.png" alt="image type" title="image type"> -->
        <br>
        <!-- <br> -->
        St. Catherine of Siena Academy
      </div>
      <div class="item-image">
        <img src="images/st-catherine-of-siena-academy.jpg" alt="St. Catherine of Siena Academy" title="St. Catherine of Siena Academy">
      </div>                    
    </a>
    <!-- <iframe src="https://player.vimeo.com/video/107260159?title=0&byline=0&portrait=0" width="1080" height="607" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
  </div>
  <div class="item col-sm-4">
    <a class="item-image popup-video" href="https://vimeo.com/131248602" title="Plymouth Rocks City Promo">
      <div class="frame-overlay"></div>
      <div class="portfolio-meta">
        <!-- <img src="images/image_post.png" alt="image type" title="image type"> -->
        <br>
        <!-- <br> -->
        Plymouth Rocks City Promo
      </div>
      <div class="item-image">
        <img src="images/plymouth-rocks-city-promo.jpg" alt="Plymouth Rocks City Promo" title="Plymouth Rocks City Promo">
      </div>                    
    </a>
    <!-- <iframe src="https://player.vimeo.com/video/131248602?byline=0&portrait=0" width="1080" height="608" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
  </div>
  <div class="item col-sm-4">
    <a class="item-image popup-video" href="https://vimeo.com/131244142" title="OLGC Tithing">
      <div class="frame-overlay"></div>
      <div class="portfolio-meta">
        <!-- <img src="images/image_post.png" alt="image type" title="image type"> -->
        <br>
        <!-- <br> -->
        OLGC Tithing 
      </div>
      <div class="item-image">
        <img src="images/olgc-tithing.jpg" alt="OLGC Tithing" title="OLGC Tithing">
      </div>                    
    </a>
    <!-- <iframe src="https://player.vimeo.com/video/131244142?byline=0&portrait=0" width="1080" height="608" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
  </div>
</div>
<div class="row">
  <div class="item col-sm-4">
    <a class="item-image popup-video" href="https://vimeo.com/126380224" title="KIDSGala Promo Video">
      <div class="frame-overlay"></div>
      <div class="portfolio-meta">
        <!-- <img src="images/image_post.png" alt="image type" title="image type"> -->
        <br>
        <!-- <br> -->
        KIDSGala Promo Video 
      </div>
      <div class="item-image">
        <img src="images/kidsgala-promo.jpg" alt="KIDSGala Promo Video" title="KIDSGala Promo Video">
      </div>                    
    </a>
    <!-- <iframe src="https://player.vimeo.com/video/126380224?byline=0&portrait=0" width="1080" height="608" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
  </div>
  <div class="item col-sm-4">
    <a class="item-image popup-video" href="https://www.youtube.com/watch?v=1LEGiCI6bfk" title="Roemer Wedding Video">
      <div class="frame-overlay"></div>
      <div class="portfolio-meta">
        <!-- <img src="images/image_post.png" alt="image type" title="image type"> -->
        <br>
        <!-- <br> -->
        Roemer Wedding Video 
      </div>
      <div class="item-image">
        <img src="images/roemer-wedding.jpg" alt="Roemer Wedding Video" title="Roemer Wedding Video">
      </div>
    </a>
    <!-- <iframe width="1280" height="720" src="https://www.youtube.com/embed/1LEGiCI6bfk?rel=0" frameborder="0" allowfullscreen></iframe> -->
  </div>
  <div class="item col-sm-4">
    <a class="item-image popup-video" href="https://vimeo.com/121883930" title="Bronik Wedding Video">
      <div class="frame-overlay"></div>
      <div class="portfolio-meta">
        <!-- <img src="images/image_post.png" alt="image type" title="image type"> -->
        <br>
        <!-- <br> -->
        Bronik Wedding Video 
      </div>
      <div class="item-image">
        <img src="images/bronik-wedding.jpg" alt="Bronik Wedding Video" title="Bronik Wedding Video">
      </div>
    </a>
    <!-- <iframe src="https://player.vimeo.com/video/121883930?byline=0&portrait=0" width="1080" height="608" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
  </div>
</div>