<h1 class="section-title">
  <span>
    My Work
  </span>
</h1>
<div class="row row-padding">
  <div class="item animation-test col-sm-4">
    <a href="https://vimeo.com/107260159" class="popup-video" data-path-hover="m 180,84.57627 -180,0 L 0,0 180,0 z" title="St. Catherine of Siena Academy">
      <figure>
        <img src="images/st-catherine-of-siena-academy.jpg" alt="St. Catherine of Siena Academy"  />
        <svg viewBox="0 0 180 320" preserveAspectRatio="none">
          <path d="M 180,130 0,188 0,0 180,0 z" />
        </svg>
        <figcaption>
          <h2>
            St. Catherine of Siena Academy
          </h2>
          <button class="play-button">
            <span class="fa fa-play-circle-o">
            </span>
          </button>
        </figcaption>
      </figure>
    </a>
  </div>
  <div class="item animation-test col-sm-4">
    <a href="https://vimeo.com/131248602" class="popup-video" data-path-hover="m 180,84.57627 -180,0 L 0,0 180,0 z" title="Plymouth Rocks City Promo">
      <figure>
        <img src="images/plymouth-rocks-city-promo.jpg" alt="Plymouth Rocks City Promo"  />
        <svg viewBox="0 0 180 320" preserveAspectRatio="none">
          <path d="M 180,130 0,188 0,0 180,0 z" />
        </svg>
        <figcaption>
          <h2>
          Plymouth Rocks! City Promo
          </h2>
          <button class="play-button">
            <span class="fa fa-play-circle-o">
            </span>
          </button>
        </figcaption>
      </figure>
    </a>
  </div>
  <div class="item animation-test col-sm-4">
    <a href="https://vimeo.com/131244142" class="popup-video" data-path-hover="m 180,84.57627 -180,0 L 0,0 180,0 z" title="OLGC Tithing">
      <figure>
        <img src="images/olgc-tithing.jpg" alt="OLGC Tithing"  />
        <svg viewBox="0 0 180 320" preserveAspectRatio="none">
          <path d="M 180,130 0,188 0,0 180,0 z" />
        </svg>
        <figcaption>
          <h2>
            OLGC Tithing
          </h2>
          <button class="play-button">
            <span class="fa fa-play-circle-o">
            </span>
          </button>
        </figcaption>
      </figure>
    </a>
  </div>
</div>
<div class="row">
  <div class="item animation-test col-sm-4">
    <a href="https://vimeo.com/126380224" class="popup-video" data-path-hover="m 180,84.57627 -180,0 L 0,0 180,0 z" title="KIDSGala Promo Video">
      <figure>
        <img src="images/kidsgala-promo.jpg" alt="KIDSGala Promo Video"  />
        <svg viewBox="0 0 180 320" preserveAspectRatio="none">
          <path d="M 180,130 0,188 0,0 180,0 z" />
        </svg>
        <figcaption>
          <h2>
            KIDSGala Promo Video
          </h2>
          <button class="play-button">
            <span class="fa fa-play-circle-o">
            </span>
          </button>
        </figcaption>
      </figure>
    </a>
  </div>
  <div class="item animation-test col-sm-4">
    <a href="https://www.youtube.com/watch?v=1LEGiCI6bfk" class="popup-video" data-path-hover="m 180,84.57627 -180,0 L 0,0 180,0 z" title="Roemer Wedding Video">
      <figure>
        <img src="images/roemer-wedding.jpg" alt="Roemer Wedding Video"  />
        <svg viewBox="0 0 180 320" preserveAspectRatio="none">
          <path d="M 180,130 0,188 0,0 180,0 z" />
        </svg>
        <figcaption>
          <h2>
            Roemer Wedding Video
          </h2>
          <button class="play-button">
            <span class="fa fa-play-circle-o">
            </span>
          </button>
        </figcaption>
      </figure>
    </a>
  </div>
  <div class="item animation-test col-sm-4">
    <a href="https://vimeo.com/121883930" class="popup-video" data-path-hover="m 180,84.57627 -180,0 L 0,0 180,0 z" title="Bronik Wedding Video">
      <figure>
        <img src="images/bronik-wedding.jpg" alt="Bronik Wedding Video"  />
        <svg viewBox="0 0 180 320" preserveAspectRatio="none">
          <path d="M 180,130 0,188 0,0 180,0 z" />
        </svg>
        <figcaption>
          <h2>
            Bronik Wedding Video
          </h2>
          <button class="play-button">
            <span class="fa fa-play-circle-o">
            </span>
          </button>
        </figcaption>
      </figure>
    </a>
  </div>
</div>
