<blockquote class="blockquote-reverse">
  <p>Kiersten created a promotional video for our non-profit organization, and she demonstrated exemplary professionalism from the project's start to its completion. She was reliable, a strong communicator, and worked respectfully with our diverse population. Her vision for the video was carried out exactly as she promised. I strongly recommend Kiersten's work!</p>
  <footer>Kaela King <cite title="Source Title">After School All Stars Ohio</cite></footer>
</blockquote>