<blockquote>
  <p>
    Kiersten worked at VideoMagic Productions and Highway Media for over 2 years as a Senior Editor. During her tenure, she not only excelled in her creative duties of telling visual stories, but became an extraordinary representative for our organization. Kiersten's communication skills were exceptional, as was her ability to manage multiple projects simultaneously. We will greatly miss Kiersten here, while I realize she will be an invaluable asset to another company in Colorado.
  </p>
  <footer>
    Mark Salloum
    <cite>VideoMagic Productions</cite>
  </footer>
</blockquote>

<blockquote>
  <p>
    Kiersten created a promotional video for our non-profit organization, and she demonstrated exemplary professionalism from the project's start to its completion. She was reliable, a strong communicator, and worked respectfully with our diverse population. Her vision for the video was carried out exactly as she promised. I strongly recommend Kiersten's work!
  </p>
  <footer>
    Kaela King
    <cite>After School All Stars Ohio</cite>
  </footer>
</blockquote>