<h1 class="section-title">
  <span>What I Do</span>
</h1>
<h2 class="subsection-title">Software & Skills</h2>
<div class="row">
	<div class="col-sm-4 col-sm-offset-2 skill-item">
		<img src="/images/creative-cloud.png" />
		<p class="skill-item-text">Adobe Creative Suite (CC)</p>
	</div>
	<div class="col-sm-4 skill-item">
		<img src="/images/avid-media-composer.png" />
		<p class="skill-item-text">Avid Media Composer 5 & 6</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 skill-item">
		<img src="/images/edius.png" />
		<p class="skill-item-text">Edius 5.1 & 7</p>
	</div>
	<div class="col-sm-4 skill-item">
		<img src="/images/final-cut-pro.png" />
		<p class="skill-item-text">Final Cut Pro 7.0</p>
	</div>
	<div class="col-sm-4 skill-item">
		<img src="/images/dvd.png" />
		<p class="skill-item-text">DVD/BluRay Design & Authoring</p>
	</div>
</div>
<h2 class="subsection-title">Recognition & Other Experience</h2>
<div class="row">
	<div class="col-sm-4 skill-item">
		<i class="fa fa-fw fa-trophy"></i>
		<p class="skill-item-text">Bette Rogge Morse Award</p>
	</div>
	<div class="col-sm-4 skill-item">
		<i class="fa fa-fw fa-clipboard"></i>
		<p class="skill-item-text">Set PA</p>
	</div>
	<div class="col-sm-4 skill-item">
		<i class="fa fa-fw fa-microphone"></i>
		<p class="skill-item-text">Sound Crew</p>
	</div>
</div>

<div class="text-center" style="margin-top: 15px;">
    <a class="button ghost-button button-orange" href="/assets/kiersten_lillis_resume_2016.pdf" target="_blank">
        Download Resume
    </a>
</div>