<h1 class="section-title">
  <span>
    Work Samples
  </span>
</h1>
<div class="row row-padding">
  <div class="col-sm-4">
    <div class="video-wrapper">
      <figcaption class="visible-xs mobile-caption">
        <h3>Video Editing Demo Reel</h3>
      </figcaption>
      <div class="thumbnail-wrapper">
        <img src="images/demo-reel.jpg" alt="Video Editing Demo Reel" />
        <a href="https://www.youtube.com/watch?v=Qjw0R3BLV9I" target="_blank" class="play-button-wrapper">
          <span class="fa fa-play-circle-o play-button">
          </span>
        </a>
      </div>
      <figcaption class="hidden-xs">
        <h4>Video Editing Demo Reel</h4>
      </figcaption>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="video-wrapper">
      <figcaption class="visible-xs mobile-caption">
        <h3>Plymouth Rocks! City Promo</h3>
      </figcaption>
      <div class="thumbnail-wrapper">
        <img src="images/plymouth-rocks-city-promo.jpg" alt="Plymouth Rocks City Promo" />
        <a href="https://vimeo.com/131248602" class="play-button-wrapper" target="_blank">
          <span class="fa fa-play-circle-o play-button">
          </span>
        </a>
      </div>
      <figcaption class="hidden-xs">
        <h4>Plymouth Rocks! City Promo</h4>
      </figcaption>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="video-wrapper">
      <figcaption class="visible-xs mobile-caption">
        <h3>Manresa Jesuit Retreat House Promo</h3>
      </figcaption>
      <div class="thumbnail-wrapper">
        <img src="images/manresa.jpg" alt="Manresa Jesuit Retreat House Promo" />
        <a href="https://vimeo.com/146434988" class="play-button-wrapper" target="_blank">
          <span class="fa fa-play-circle-o play-button">
          </span>
        </a>
      </div>
      <figcaption class="hidden-xs">
        <h4>Manresa Jesuit Retreat House Promo</h4>
      </figcaption>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
    <div class="video-wrapper">
      <figcaption class="visible-xs mobile-caption">
        <h3>St. Catherine of Siena Academy</h3>
      </figcaption>
      <div class="thumbnail-wrapper">
        <img src="images/st-catherine-of-siena-academy.jpg" alt="St. Catherine of Siena Academy" />
        <a href="https://vimeo.com/107260159" class="play-button-wrapper" target="_blank">
          <span class="fa fa-play-circle-o play-button">
          </span>
        </a>
      </div>
      <figcaption class="hidden-xs">
        <h4>St. Catherine of Siena Academy</h4>
      </figcaption>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="video-wrapper">
      <figcaption class="visible-xs mobile-caption">
        <h3>Tiffany &amp; Zac's Wedding Film</h3>
      </figcaption>
      <div class="thumbnail-wrapper">
        <img src="images/roemer-wedding.jpg" alt="Tiffany &amp; Zac's Wedding Film" />
        <a href="https://www.youtube.com/watch?v=1LEGiCI6bfk" target="_blank" class="play-button-wrapper">
          <span class="fa fa-play-circle-o play-button">
          </span>
        </a>
      </div>
      <figcaption class="hidden-xs">
        <h4>Tiffany &amp; Zac's Wedding Film</h4>
      </figcaption>
    </div>
  </div>
</div>