<h1 class="section-title">
  <span>About Me</span>
</h1>

<p><%= lorem.paragraph %></p>
<p><%= lorem.paragraph %></p>

<div class="accomplishment-card education">
  <span>
    <i class="fa fa-2x fa-fw fa-graduation-cap"></i>
    2012 Graduate of the University of Dayton. BA in Communication (Electronic Media) and French; minors in Film Studies and Psychology
  </span>
</div>

<div class="accomplishment-card employment">
  <span>
   <i class="fa fa-2x fa-fw fa-video-camera"></i>
    Senior Video Editor at VideoMagic Productions/Highway Media Inc. (June 2014-present)
  </span>
</div>
<div class="accomplishment-card employment">
  <span>
    <i class="fa fa-2x fa-fw fa-video-camera"></i>
    Media Producer at Luxottica Retail North America (October 2013-April 2014)
  </span>
</div>
<div class="accomplishment-card employment">
  <span>
    <i class="fa fa-2x fa-fw fa-video-camera"></i>
    Freelance Video Editor in Dayton/Cincinnati, OH (August 2012-October 2013)
  </span>
</div>
<div class="accomplishment-card employment">
  <span>
    <i class="fa fa-2x fa-fw fa-video-camera"></i>
    Production Assistant at Media Production Group (April 2011-August 2012)
  </span>
</div>
