#my_work {

		/*-----------------------------------------------------------------------------------*/
	/*	PORTFOLIO
	/*-----------------------------------------------------------------------------------*/


	.portfolio-meta img 
	{
		height:28px !important;
		width:28px !important;
	}
	.frame-overlay  img 
	{
		width:auto;
		height:auto;
		margin: 0 auto;
	}
	.item-image
	{
		position:relative;
		height:100% !important;
		display:block;
		outline: none;
	}

	.item-image img
	{
		display:block;
	}


	.frame-overlay
	{
		background:$color-light;
		opacity: 0;
		width:100%;
		height:100%;
		position:absolute;
		z-index:998;
		text-align:center;
		transition: opacity 0.2s ease-in;
	}

	.item-image:hover .frame-overlay
	{
		opacity:0.8!important;
	}


	.portfolio-meta
	{
		opacity:0;
		letter-spacing: -0.7px;
		position: absolute;
		top: 28%;
		text-align: center;
		font-size: 20px;
		color: $color-dark;
		vertical-align: middle;
		display: block;
		font-weight: 600;
		width:100%;
		z-index:999;
		transition: opacity 0.2s ease-in;
	}

	.portfolio-meta img {
		position:absolute;
		left:45%;
	}	
	.item-image:hover .portfolio-meta 
	{
		opacity:0.8!important;
	}
}


/* Fade-move animation for second dialog */
.my-mfp-slide-bottom .zoom-anim-dialog {

	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog 
{
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog 
{
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg
{
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;

}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg  
{
	opacity: 0.9;
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg 
{
	opacity: 0;
}


/* magnific PopUp */
.mfp-bg 
{
	background: $color-light !important;
}

.white-popup-block 
{
	color: $color-dark !important;
}

button.mfp-close, button.mfp-arrow 
{
	width: 30px !important;
	height: 30px;
	background: url(../images/sprite.png) 2px 1px no-repeat!important; 
	cursor: pointer;
	text-indent:999px;
	margin-right:-21px;
	margin-top:-21px;
} 
/* Close button */

div.pp_default .pp_loaderIcon { background: url(../img/prettyPhoto/default/light_loader.gif) center center no-repeat; } 
	/* Loader icon */
div.pp_default .pp_description {
	color:$color-dark;
}

.mfp-content h1, .mfp-content h2, .mfp-content h3, .mfp-content h4,.mfp-content h5, .mfp-content h6 
{
	color : $color-dark !important;
	letter-spacing: -0.7px;
	// font-size: 20px;
	font-weight: 600;
}

.mfp-wrap
 {
	overflow-x:hidden;
	overflow-y:auto;
	z-index: 10043 !important;
}

/* prev / next links */
.cycle-prev, .cycle-next 
{
	 position: absolute;
	top: 0;
	width: 30%; 
	opacity: 0.7; 
	z-index: 800; 
	height: 100%; 
	cursor: pointer; 

	-moz-transition:all 500ms ease 0s;
	-o-transition:all 500ms ease 0s;
	-webkit-transition:all 500ms ease 0s;
	transition:all 500ms ease 0s;
}

.cycle-prev 
{ 
	left: 0;  
	background: url(assets/img/prettyPhoto/default/left.png) 50% 50% no-repeat;
}

.cycle-next 
{ 
	right: 0; 
	background: url(assets/img/prettyPhoto/default/right.png) 50% 50% no-repeat;
}

.cycle-prev:hover, .cycle-next:hover 
{ 
	opacity: 1; 
}

.mfp-image-holder .mfp-close-custom, .mfp-iframe-holder .mfp-close-custom {
    outline: none;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    font-size: 45px;
    position: absolute;
    top: -40px;
    z-index: 1046;
    right: 0;
    margin-right: -21px;
    margin-top: -21px;
	color: $color-dark;

	// -webkit-user-select: none;
 //    -moz-user-select: none;
 //    user-select: none;
	// width: 44px;
 //    height: 44px;
 //    line-height: 44px;
 //    position: absolute;
 //    right: 0;
 //    top: 0;
 //    text-decoration: none;
 //    text-align: center;
 //    opacity: 0.65;
 //    filter: alpha(opacity=65);
 //    padding: 0 0 18px 10px;
 //    color: #FFF;
 //    font-style: normal;
 //    font-size: 28px;
 //    font-family: Arial, Baskerville, monospace;
	// width: 30px !important;
 //    height: 30px;
 //    // background: url(../images/sprite.png) 2px 1px no-repeat !important;
 //    cursor: pointer;
 //    text-indent: 999px;
 //    margin-right: -21px;
 //    margin-top: -21px;
	// overflow: visible;
 //    cursor: pointer;
 //    background: transparent;
 //    border: 0;
 //    -webkit-appearance: none;
 //    display: block;
 //    outline: none;
 //    padding: 0;
 //    z-index: 1046;
 //    -webkit-box-shadow: none;
 //    box-shadow: none;
	// color: #FFF;
 //    right: -6px;
 //    text-align: right;
 //    padding-right: 6px;
 //    width: 100%;
	// top: -40px;
}