
#main-navbar.scrolled .navbar-brand{
    color: $color-dark;
}

#main-navbar{
    background:transparent;
    box-shadow:0 0 0px transparent;
    -webkit-transition:background 0.3s ease-out;
    transition:background 0.3s ease-out, border-width 0.3s ease-out;
}

#main-navbar {
    border-width: 0;
}

#main-navbar.scrolled{
    background:$color-light;
    border-bottom:1px solid rgba($color-dark, 0.3);
}

#main-navbar .container{
    padding:30px 20px;
    -webkit-transition:padding 0.5s ease-out;
    transition:padding 0.5s ease-out;
}

#main-navbar.scrolled .container{
    padding:10px 20px;
}

#main-navbar .nav a,
#main-navbar .nav a:active,
#main-navbar .nav a:hover{
    padding:0px 10px;
    font-size:18px;
    line-height:54px;
    font-weight:400;
    background:transparent;
}


#main-navbar.scrolled .nav a,
#main-navbar.scrolled .nav a:active,
#main-navbar.scrolled .nav a:hover{
    color:$color-dark;
}


#main-navbar li{
    background:transparent;
    margin:0 10px;
    border:2px solid transparent;
}

#main-navbar .dropdown-menu a{
    font-size:14px;
}

/* Hover Effect */
#main-navbar .nav a {
    position:relative;
}


@media (max-width: 768px) {

    #main-nav .navbar-brand{
        color:$color-dark;
    }

    #main-nav{
        background:$color-light;
        border-bottom-width:1px;
    }

    #main-nav .navbar-toggle .icon-bar{
        background:$color-dark;
    }

    #main-nav .container{
        padding:10px 20px;
    }

    #main-nav .nav a,
    #main-nav .nav a:active,
    #main-nav .nav a:hover{
        color:$color-dark;
        line-height:42px;
        text-align:center;
    }

    #main-nav .nav a:before {
        display:none;
    }

    #main-nav .nav a:hover,
    #main-nav .nav li.active a {
        box-shadow:0 0 0 1px;
    }

    #main-navbar .container{
        padding:10px 20px;
    }


    #main-navbar {
        background:$color-light;
        border-bottom:1px solid #ddd;
    }
}

/* ===== COlors ====== */
#main-navbar .navbar-nav > li > a {
    color: $color-dark;
}