/* ===== Colors ===== */


/* Scheme 3 */
$color-light: #fff;
$color-dark: #341139;



/* ===== Other Variables ===== */
$font-color: $color-dark;
$bg-color: $color-light;
$input-color-placeholder: rgba($color-light, 0.5);