/* ===== Colors ===== */

/* Scheme 1 
$color-primary: #E5847B;
$color-secondary: #66D7D1;
$color-light: #FFFCF7;
$color-dark: #444344;
*/

/* Scheme 2 
$color-primary: #F72C25;
$color-secondary: #A9E5BB;
$color-light: #FFFCF7;
$color-dark: #2D1E2F;
*/

/* Scheme 3 */
$color-primary: #D90429;
$color-secondary: #8D99AE;
$color-light: #EDF2F4;
$color-dark: #2B2D42;



/* ===== Other Variables ===== */
$font-color: $color-dark;
$bg-color: $color-light;