/* ===== Colors ===== */


/* Scheme 3 */
$color-primary: #444;
$color-secondary: #444;
$color-light: #fff;
$color-dark: #444;



/* ===== Other Variables ===== */
$font-color: $color-dark;
$bg-color: $color-light;