#what-i-do {
    background: $gray1;

    .section-title {
        color: $orange;
    }

    .subsection-title {
        color: $blue;
    }
}

.skill-item {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
    color: $gray3;
}

.skill-item i {
    display: inline-block;
    margin: 15px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: $white;
    font-size: 80px;
    background: $blue;
    padding: 35px 25px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.skill-item img {
    margin: 15px;
    border-radius: 50%;
    color: $white;
    background: $blue;
    padding: 25px 25px;
    width: 150px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
