---
---
@charset "utf-8";

/* path to glyphicons */
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@import "variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

// sass for Partials
@import "navbar";
@import "about_me";
@import "what_i_do";
@import "my_work";
@import "quote";

@charset "utf-8";

body {
  background-color: $bg-color;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: $font-color;
}

.row.row-padding {
  padding-bottom: 30px;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

img
{
  max-width:100%;
  height:auto;
}

@media screen {
	input:focus, textarea:focus, button:focus {
	    outline: none;
	}
}

.section {
  padding: 40px 0;
  background-color: $color-light;
}

.section-title {
  color: $color-dark;
  text-align: center;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: -2px;
  span {
    border-bottom: 5px solid;
    padding: 10px 0;
    line-height: 1.7;
  }
}

.subsection-title {
  font-weight: 300;
  color: $color-dark;
  text-align: center;
}

.site-title {
  text-transform: capitalize;
}

.section-dark {
  background-color: $color-dark;
  color: $color-light;
}

.section-dark .section-title {
  color: $color-light;
}

.section-subtitle {
  color: $color-dark;
  text-align: center;
}

.hero {
  padding: 0;
  margin-bottom: 0;
  min-height: 500px;
  background-image: url('../images/headshot.jpg');
  background-size: cover;
  background-position: 0 70%;
  .message-box {
    width: 90%;
    margin: 300px auto 0;
    background: $color-dark;
    padding: 20px 0;

    .section-title, .section-subtitle {
      color: $color-light;
    }
  }
}

.accomplishment-card {
  border: 1px solid $color-light;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 3px 3px 6px -3px rgba(0, 0, 0, 0.75);
  background-color: $color-dark;
}

p {
  margin: 0 0 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.text-inverted {
  color: $color-light;
}

.button {
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

.button.ghost-button {
	background-color: transparent;
    border: 2px solid $color-dark;
    font-weight: 600;
    transition: background-color .3s ease-out, color .3s ease-out;
}

.button.ghost-button:hover {
	background-color: $color-dark;
	color: $color-light;
}
#contact-form .form-control {
    background: $color-dark;
    color: $color-light;
    border: none;
    border-radius: 1px;
    outline: none;
    box-shadow: none;
    margin-bottom: 30px;
    height: 50px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    padding-left: 55px;
}
#contact-form .form-group [class*="fa"] {
    display: block;
    width: 50px;
    position: absolute;
    top: 0;
    left: 5px;
    // color: $color-dark;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    font-weight: 300;
}
#contact-form .control-wrapper {
  position: relative;
}#contact-form textarea.form-control {
    max-width: 100%;
    min-width: 100%;
    padding-top: 14px;
    margin: 0px 0px 30px;
    resize: vertical;
    height: auto;
}


.social-links {
    list-style:none;
    margin:0;
    padding:0;
    margin-bottom:30px;
}

.social-links li{
    display:inline-block;
    margin:0 5px;
    border-radius:3px;
    box-shadow:0 4px 0 transparent;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.social-links li a {
    display:block;
    color:rgba($color-light, 0.9);
    font-size:21px;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    background:rgba($color-dark,0.5);
    border-radius:50%;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.social-links li a:hover {
    color:$color-light;
    background:$color-dark;
}

// ::-webkit-input-placeholder {
//   color: $color-light;
// }

// /* Firefox 18- */
// :-moz-placeholder {
//   color: $color-light;
// }

// /* Firefox 19+ */
// ::-moz-placeholder {
//   color: $color-light;
// }

// IE 10+
// :-ms-input-placeholder {
//   color: $color-light;
// }

// /* Edge */
// ::-ms-input-placeholder {
//   color: $color-light;
// }

// /* Default Usage */
// :placeholder-shown {
//   color: $color-light;
// }

@media (max-width: 767px) { 
  .section {
    padding: 15px 0;
  }


  .row.row-padding {
    padding-bottom: 15px;
  }
}