---
---

@import "variables";

@charset "utf-8";

body {
  background-color: $bg-color;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.section {
  padding: 3rem 0 6rem;
  background-color: $color-light;
}

.section-title {
  color: $color-primary;
  text-align: center;
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 50px;
  span {
    border-bottom: 3px solid;
    padding: 10px 0;
  }
}

.section-dark {
  background-color: $color-primary;
}

.section-dark .section-title {
  color: $color-light;
}

.section-subtitle {
  color: $color-secondary;
  text-align: center;
}

.jumbotron {
  padding: 0;
  margin-bottom: 0;
  min-height: 500px;
  background: transparent;
  .message-box {
    width: 90%;
    margin: 300px auto 0;
    background: $color-light;
    background: rgba( $color-light, .9);
    padding: 20px 0;
  }
}

.accomplishment-card {
  border: 1px solid $color-primary;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 3px 3px 6px -3px rgba(0, 0, 0, 0.75);
  background-color: $color-secondary;
}

p {
  margin: 0 0 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.text-inverted {
  color: $color-light;
}

#contact-form .form-control {
    background: $color-light;
    border: none;
    border-radius: 1px;
    outline: none;
    box-shadow: none;
    margin-bottom: 30px;
    height: 50px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    padding-left: 55px;
}
#contact-form .form-group [class*="fa"] {
    display: block;
    width: 50px;
    position: absolute;
    top: 0;
    left: 5px;
    color: $color-secondary;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    font-weight: 300;
}
#contact-form .control-wrapper {
  position: relative;
}#contact-form textarea.form-control {
    max-width: 100%;
    min-width: 100%;
    padding-top: 14px;
    margin: 0px 0px 30px;
    resize: vertical;
    height: auto;
}