---
---
@charset "utf-8";
/* path to glyphicons */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import "variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
// sass for Partials
@import "contact-me";
@import "experience";
@import "navbar";
@import "skills";
@import "testimonials";
@import "work-samples";

body {
  position: relative;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: $blue;
}

.row.row-padding {
  padding-bottom: 30px;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen {
  input:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
}

.section {
  padding: 40px 0;
  background-color: $white;
}

.section-title {
  color: $orange;
  text-align: center;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: -2px;

  span {
    border-bottom: 5px solid;
    padding: 10px 0;
    line-height: 1.7;
  }
}

.subsection-title {
  font-weight: 300;
  color: $blue;
  text-align: center;
}

.section-dark {
  background-color: $blue;
  color: $white;
}

.section-dark .section-title {
  color: $orange;
}

.section-subtitle {
  color: $blue;
  text-align: center;
}

.hero {
  padding: 0;
  margin-bottom: 0;
  min-height: 500px;
  background-image: url('../images/headshot.jpg');
  background-size: cover;
  background-position: center 33%;
  position: relative;

  .message-box {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    right: 0;
    bottom: 10%;
    left: 0;

    @media (max-width: 540px) {
      bottom: 0;
    }

    .section-title {
      margin: 10px 0 0;
    }

    .section-subtitle {
      color: $blue;
      margin: 30px 0;
    }
  }
}

.site-title {
  text-transform: capitalize;
  color: $orange;
}

.accomplishment-card {
  border: 1px solid $white;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 3px 3px 6px -3px rgba(0, 0, 0, 0.75);
  background-color: $blue;
}

p {
  margin: 0 0 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.text-inverted {
  color: $white;
}